click==8.0.1
Flask==2.0.1
Flask-Cors==3.0.10
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
python-dotenv==0.17.1
six==1.16.0
Werkzeug==2.0.1
absl-py==1.0.0


keras==2.8.0
Keras-Preprocessing==1.1.2

numpy==1.22.3


Pillow==2.6.1



tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-datasets==4.5.2
tensorflow-estimator==2.3.0
tensorflow-gpu==2.8.0
tensorflow-gpu-estimator==2.3.0
tensorflow-hub==0.12.0
tensorflow-io==0.24.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-metadata==1.7.0
tensorflow-model-optimization==0.7.1
tensorflow-serving-api==2.8.0
tensorflow-text==2.8.1
termcolor==1.1.0
terminado==0.9.4


