absl-py==1.0.0

anaconda-client==1.7.2
anaconda-navigator==2.0.3




conda==4.12.0
conda-build==3.21.4
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1618262320430/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work



Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Cors==3.0.10

h5py==2.10.0
hdfs==2.6.0


imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work


keras==2.8.0
Keras-Preprocessing==1.1.2

numpy==1.22.3
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work

opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
opencv-python-headless==4.1.2.30
openpyxl @ file:///tmp/build/80754af9/openpyxl_1615411699337/work

Pillow @ file:///C:/ci/pillow_1617386341487/work



tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-datasets==4.5.2
tensorflow-estimator==2.3.0
tensorflow-gpu==2.8.0
tensorflow-gpu-estimator==2.3.0
tensorflow-hub==0.12.0
tensorflow-io==0.24.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-metadata==1.7.0
tensorflow-model-optimization==0.7.1
tensorflow-serving-api==2.8.0
tensorflow-text==2.8.1
termcolor==1.1.0
terminado==0.9.4


